body{
  background-image: url("images/clouds.jpg");
  background-size: cover;
}

.AMY{
  position: absolute;
  color: white;
  top: 40%;
  left: 45%;
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
}
.GITHUBLINKS{
  position: absolute;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  top: 54%;
  left: 50%;

}
.STUDIO{
  position: absolute;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  top: 61%;
  left: 60%;
}
.LAB{
  position: absolute;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  top: 69%;
  left: 60%;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}
